@import url(https://db.onlinewebfonts.com/c/10231a2b20e3af26733b6221efa4e482?family=Samsung+Sharp+Sans+Bold);

*{
   margin: 0;
   padding: 0; 
}

body{
    font-family: 'Samsung Sharp Sans Bold';
}

h1{
    color: #fff;
    font-size: 72px;
    z-index: 9999;
    
}

#main-visual{
    position: absolute;
    background-color: #000;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}